.group-members{
  display: flex;
  justify-content: space-around;
}

.member-avatar-pseudo-show{
  margin-top: 2rem;
  .avatar-bordered{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .member-pseudo{
    color: rgb(40, 40, 40);
  }
}


