.container-show-recette{
  box-shadow: 12px 12px 20px 0.5px rgba(0, 0, 0, .2);
  border-radius: 5px;
  background-color: white;
  padding: 1.25rem;
  padding-bottom: 30px;
  margin-bottom: 50px;
  margin-top: 20px;
}

.recette-banner-show{
  position: relative;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  text-shadow: 0px 0px 0px rgba(0,0,0,0.4);

  .name-author-show{
    margin-left: 10px;
    h4{
      font-size: 12px;
      margin-top: 0.8rem;
    }
    h2 {
      margin-bottom: 0.2rem;
    }
  }

    .type-entree-show{
      position: absolute;
      top: 4%;
      right: 4%;
      background-color: $entree;
      padding: 5px;
      border-radius: 5px;
      font-weight: bolder;
    }
    .type-plat-show{
      position: absolute;
      top: 4%;
      right: 4%;
      background-color: $red;
      padding: 5px;
      border-radius: 5px;
      font-weight: bolder;
    }
    .type-dessert-show{
      position: absolute;
      top: 4%;
      right: 4%;
      background-color: $dessert;
      padding: 5px;
      border-radius: 5px;
      font-weight: bolder;
    }
    .type-apero-show{
      position: absolute;
      top: 4%;
      right: 4%;
      background-color: $apero;
      padding: 5px;
      border-radius: 5px;
      font-weight: bolder;
    }
    .type-cocktail-show{
      position: absolute;
      top: 4%;
      right: 4%;
      background-color: $cocktail;
      border: 1px solid $cocktail;
      padding: 5px;
      border-radius: 5px;
      font-weight: bolder;
    }
}

.recette-show-ingredients-preparation{
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   margin-top: 1.5rem;

   h3{
     color: rgb(30, 30, 30);
   }
   p{
     color: rgb(30, 30, 30);
   }
}

.avatar-show{
  position: absolute;
  right: 4%;
  bottom: -8%;
  width: 3rem;
  height: 3rem;
}

@media (min-width: 100px) and (max-width: 575px) {
  .recette-show-ingredients-preparation {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .recette-show-ingredients-preparation {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .recette-show-ingredients-preparation {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .recette-show-ingredients-preparation {
    grid-template-columns: 2fr 2fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .recette-show-ingredients-preparation {
    grid-template-columns: 2fr 2fr 1fr;
  }
}
