// Page log in & Page sign up

.devise-page {

  .form-actions{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  }

  .form-inputs{
  margin-top: 2rem;
  }

  p {
    text-align: center;
  }

  .links {
    text-align: center;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .devise-page{
    width: 50%;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .devise-page {
    width: 33%;
  }
}

