<div class="container">
  <div class="card-container-index cards-index">
    <% @recettes.each do |recette| %>
      <%= render 'shared/recette-card', recette: recette %>
    <% end %>
  </div>
</div>
