<div class="item-home">
  <% if user_signed_in? %>
    <p>Hello <%= current_user.pseudo %> !</p>
  <% else %>
    <%= link_to "Se connecter", new_user_session_path, class: "btn full-btn-red" %>
  <% end %>
</div>
