
.bottom-navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .nav-link{
    float: left;
    display: block;
    color: rgb(150, 150, 150);

  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bottom-navbar {
    display: none;
  }
}
