//Top navbar
//Mobile : nom de l'app uniquement
.top-navbar-mobile {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

//Desktop
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: relative;
  margin-bottom: 3rem;

  .navbar-brand img {
    width: 40px;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}

//Nom app
.app-name{
  color: $red;
  font-family: 'Pacifico';
}

//Navbar bottom mobile
.bottom-navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  .nav-link{
    float: left;
    display: block;
    color: rgb(150, 150, 150);

  }
}



@media (min-width: 100px) and (max-width: 991px) {
  .navbar-expand-sm {
    display: none;
  }

  .top-navbar-mobile {
    display: block;
  }

  .bottom-navbar {
    display: block;
  }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .top-navbar-mobile {
    display: none;
  }

  .bottom-navbar {
    display: none;
  }

  .navbar-expand-sm {
    display: flex;
  }
}

